.cover-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    position: relative;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.div-cover > div {
    color: var(--bg-white);
    margin-bottom: 10%;
    margin-left: 11%;
    width: 100%;
}

.div-cover-p1 {
    font-size: 1rem;
}

.div-cover > div > h1 {
    font-size: 6rem;
    margin: 10px 0 50px 0;
    line-height: 1;
}

.div-cover-p2 {
    font-size: 1.3rem;
}

.div-cover-p2 > span {
    font-weight: bolder;
}
