.features-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.features-2-container > div {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.features-2-container > div > span {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--bg-orange);
}

.features-2-container > div > h2 {
    font-size: 2.9rem;
    color: var(--text-base-dark);
    margin: 15px 0 90px 0;
}

.feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-grey);
    margin: 50px 0;
}

.card-orange {
    border-right: 10px solid var(--bg-orange);
}

.card-deep-blue {
    border-left: 10px solid var(--bg-deep-blue);
}

.card-blue {
    border-right: 10px solid var(--bg-light-blue);
}

.card-2 > div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
}

.feature-2-img {
    width: 606px;
}

.feature-card > div {
    padding: 0 50px;
}

.feature-card > div > h3 {
    font-size: 1.6rem;
    margin: 30px 0 10px 0;
    color: var(--text-base-dark);
}

.feature-card > div > p {
    font-size: 0.9rem;
    color: var(--text-base-grey);
}

.check-img {
    width: 50px;
}