footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-deep-blue);
    color: var(--text-base-light);
}

.footer-wrapper {
    width: 90%;
    padding: 50px 0 20px 0;
}

.footer-div-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-div-1-box {
    width: 30%;
}

.footer-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: normal;
}

.footer-title > span {
    font-size: 4rem;
    font-weight: bold;
}

.footer-div-1-box > p {
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 70px;
}

.footer-div-1-box > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.phone-img {
    width: 25px;
    margin-right: 10px;
}

.email-img {
    width: 25px;
    margin-right: 10px;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 45%;
}

.footer-ul > ul > h5 {
    font-size: 1.5rem;
    margin-bottom: 40px;
    border-bottom: 3px solid var(--bg-white);
    padding-bottom: 5px;
}

.footer-ul > ul > li {
    list-style: none;
    margin-bottom: 10px;
    text-align: end;
}

.footer-ul > ul > li > a {
    text-decoration: none;
    color: var(--text-base-light);
    font-size: 0.8rem;
}

.footer-div-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.search-bar > input {
    height: 50px;
    width: 80%;
    border: 3px solid var(--bg-orange);
    outline: none;
    padding: 0 20px;
}

.search-img {
    width: 30px;
}

.search-bar > button {
    height: 56px;
    width: 20%;
    border: 3px solid var(--bg-orange);
    border-left: none;
    background-color: var(--bg-orange);
    cursor: pointer;
}

.search-bar > button:hover {
    background-color: #e26200;
}

.search-bar > button:active {
    background-color: #f8964a;
}

.socials-img {
    height: 60px;
    margin-left: 10px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-blue);
    width: 100%;
    padding: 20px 0;
    font-size: 0.9rem;
    margin-top: 40px;
}