* {
    margin: 0;
    padding: 0;
    font-family: var(--font-montserrat);
}

hr {
    border: none;
    border-top: 2px solid var(--bg-grey);
    margin: 55px 0;
}

.section {
    transition: transform 1s, opacity 1s;
}


.section-hidden {
    opacity: 0;
    transform: translateY(8rem);
}

html {
    scroll-behavior: smooth;
}

/**********************************************************/

@media (max-width: 1000px) {
    hr {
        border: none;
        border-top: 2px solid var(--bg-grey);
        margin: 0;
    }
}