nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-white);
    color: var(--text-base-light);
    width: 100%;
    background-color: rgb(145, 142, 141);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.sticky-nav {
    position: fixed;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.945);
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 30px;
    margin-right: 5px;
}

.title-container > span {
    font-size: 1.9rem;
    font-weight: bolder;
}

.sticky-span {
    color: var(--text-base-dark);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-base-light);
    font-size: 1.1rem;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.link-hidden {
    opacity: 0;
}

.sticky-nav-links {
    color: var(--text-base-dark);
}

.nav-links > button {
    padding: 10px 30px;
    font-size: 1.1rem;
    color: var(--text-base-light);
    background-color: var(--bg-orange);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.nav-links > button:hover {
    transform: scale(1.04);
    transition: transform 1s;
    background: linear-gradient(300deg,#ffa600, #f17f3d);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menu-toggle {
    display: none;
    padding: 0;
    font-size: 2rem;
    color: var(--text-base-light);
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/**********************************************************/

@media (max-width: 1500px) {
    nav {
        position: relative;
    }

    .nav-links {
        position: absolute;
        top: 83px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        background-color: rgba(0, 0, 0, 0.637);
        height: 400px;
        transition: height 1s ease;
    }

    .nav-links-hidden {
        overflow: hidden;
        height: 0;
    }

    .nav-link {
        opacity: 0;
        transition: opacity 2s ease;
    }

    .nav-links > li {
        padding: 20px 30px;
    }

    .nav-links > button {
        margin-bottom: 20px;
        opacity: 0;
        transition: opacity 2s ease;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 1000px) {

}
