.testemonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-grey);
}

.testemonials-container > div {
    width: 65%;
    margin-bottom: 100px;
}

.testemonials-container > div > span {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--bg-orange);
}

.testemonials-container > div > h2 {
    font-size: 2.7rem;
    color: var(--text-base-dark);
    margin: 15px 0 90px 0;
}

.testemonials-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testemonials-container-box > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    padding: 0 40px;
}

.testemonials-btn {
    width: 50px;
    border: none;
    background-color: transparent;
}

.testemonials-container-box > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 5px solid var(--text-base-dark);
}

.testemonials-card {
    display: flex;
    width: 60%;
    height: 100%;
}

.person-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.person-1 {
    background: url('../assets/images/person_1.jpg') center center / cover no-repeat; 
}

.person-2 {
    background: url('../assets/images/person_6.jpg') center center / cover no-repeat; 
}

.person-3 {
    background: url('../assets/images/person_3.jpg') center center / cover no-repeat; 
}

.person-4 {
    background: url('../assets/images/person_4.jpg') center center / cover no-repeat; 
}

.person-5 {
    background: url('../assets/images/person_5.jpg') center center / cover no-repeat; 
}

.person-6 {
    background: url('../assets/images/person_2.jpg') center center / cover no-repeat; 
}

.person-info {
    width: 60%;
}

.testemonials-card-name {
    background-color: var(--bg-light-blue);
    color: var(--bg-white);
    padding: 20px;
}

.testemonials-card-name > h4 {
    font-size: 1.5rem;
}

.testemonials-card-name > h5 {
    font-size: 0.9rem;
    font-weight: normal;
}

.testemonials-card-text {
    background-color: var(--bg-white);
    padding: 20px;
}

.raiting-img {
    width: 80px;
}

.testemonials-card-text > p {
    color: var(--text-base-grey);
    font-size: 0.7rem;
}

/* slider */

.slider {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;
}

.slide {
    position: absolute; 
    z-index: 1;
    transition: transform 1s;
    width: 101%
}

/**********************************************************/

@media (max-width: 1500px) {
    .testemonials-container > div {
    width: 90%;
    }
}